<!DOCTYPE html>
<html lang="kr">

<head>
<meta charset="UTF-8">
<script src="resources/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="resources/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.origin.min.css">
<link rel="stylesheet" type="text/css" href="resources/vendor/fontawesome-free-5.8.2-web/css/all.min.css">
<link rel="stylesheet" id="bootstrap-css" href="resources/css/chat_main.css">
<title>ITKey Talk</title>
</head>

<body>
	<div class="container">
		<h3 class=" text-center">
			<div class="jumbotron">
				<h1>
					<i class="fa fa-paper-plane color-blue"></i> ITKey <font class="color-blue">T</font>alk
				</h1>
				<p>ITKEY 단체 채팅방 개발을 위한 퍼블리싱 파일입니다. 해당 채팅방을 예쁘게 만들어 주세요.</p>
			</div>
			<input class="mainbtn" style="float: right;" type="button" value="메인화면" onclick="location.href='main.html' ">

		</h3>
		<div class="messaging">
			<div class="inbox_msg">
				<div class="mesgs">
					<div class="msg_history">
						<div class="incoming_msg">
							<div class="incoming_msg_img">
								<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
							</div>
							<div class="received_msg">
								<div class="received_withd_msg">
									<p>안녕하세요 여러분</p>
									<span class="time_date"> 11:01 AM | 6월 9일</span>
								</div>
							</div>
						</div>
						<div class="outgoing_msg">
							<div class="sent_msg">
								<p>안녕하세요 반갑습니다..</p>
								<span class="time_date"> 11:01 AM | 6월 9일</span>
							</div>
						</div>
						<div class="incoming_msg">
							<div class="incoming_msg_img">
								<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
							</div>
							<div class="received_msg">
								<div class="received_withd_msg">
									<p>테스트 메시지인가요!?</p>
									<span class="time_date"> 11:01 AM | 어제</span>
								</div>
							</div>
						</div>
						<div class="outgoing_msg">
							<div class="sent_msg">
								<p>잘 보입니다. 테스트 여기도 해볼까요?</p>
								<span class="time_date"> 11:01 AM | 오늘</span>
							</div>
						</div>
						<div class="incoming_msg">
							<div class="incoming_msg_img">
								<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
							</div>
							<div class="received_msg">
								<div class="received_withd_msg">
									<p>갑자기 피곤하네요</p>
									<span class="time_date"> 11:01 AM | 오늘</span>
								</div>
							</div>
						</div>
						<div class="incoming_msg">
							<div class="incoming_msg_img">
								<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
							</div>
							<div class="received_msg">
								<div class="received_withd_msg">
									<p>안녕히 계세요~</p>
									<span class="time_date"> 11:01 AM | 오늘</span>
								</div>
							</div>
						</div>
						<div class="outgoing_msg">
							<div class="sent_msg">
								<p>안녕히가세요.</p>
								<span class="time_date"> 11:01 AM | 오늘</span>
							</div>
						</div>
					</div>
					<div class="type_msg">
						<div class="input_msg_write">
							<input type="text" class="write_msg" placeholder="내용을 입력해 주세요." />
							<button class="msg_send_btn" type="button">
								<i class="fa fa-paper-plane" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>